# pixi environments
.pixi/*
!.pixi/config.toml

# output directories (default + any custom output directories)
DiMSum_Project/
*output*/
*results*/
scripts/__pycache__/parse_variant_data.cpython-314.pyc
